/* Media Queries for Responsive Design */
@media screen and (max-width: 1024px) {
  .hero-container {
    flex-direction: column;
    height: auto;
    padding: 30px;
    width: 100%;
  }
.nav-container{
  flex-direction: row;
  width: 100%;
}
.li-container{
  flex-direction: column;
}
/* .p1{
  height: auto;
  flex-direction: column;
  max-height:100px ;
} */
 .p1{
  width: 50%;
  height: 50%;
  flex-shrink: initial;
 }
  .hero {
     height: auto;
  flex-direction: column;
  max-height:100px ;
  width: 100%;
  }
  .photo{
    width: 50%;
    max-height: 50% ;
  }

 .about {
  display: flex;
  flex-direction: column;
    font-size: 1rem;
  
    width: 50%;
    height: 50%;
  }

  .img {
    width: auto;
    height: auto;
  }
  .img-container{
    width: auto;
    height: auto; 
  }
}

@media screen and (max-width: 768px) and (min-width: 480px){
  .nav-container {
    flex-direction: column;
    max-height: none;
    padding: 10px;
    width: 100vw;
  }

  .li-container {
    text-align: center;
    justify-content: center;
    margin-left: 0;
    flex-wrap: wrap;
    width:100vw;
  }

  .heading {
    font-size: 1.8rem;
  }

  .project {
    font-size: 2rem;
  }

  .aboutMe {
    font-size: 2rem;
  }
  .hero {
    font-size: 1em;
  }

  .khan {
    flex-direction: column;
  }

  .pq {
    width: 90%;
    margin: 20px auto;
  }
  .img {
   
    width: auto;
    height: auto;
  }
.img-container {
  
    width: auto;
    height: auto;
  }
  .about {
    font-size: 1rem;
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 480px) {
  nav li {
    font-size: 16px;
    margin: 0 8px;
  }
  .nav-container{
    width: 100vw;

  }
.li-container{
  width: 100vw;
}
  h1 {
    font-size: 1.5rem;
  }
  .hero {
    font-size: 0.4em;
  }
  .heading {
    font-size: 1.5rem;
  }

  .about {
    font-size: 1rem;
    width: 50%;
    height: 50%;
  }

  .hero-container {
    padding: 20px;
  }

  .section {
    height: auto;
  }
  .img {
    width: auto;
    height: auto;
    margin: 10px;
  }
  .img-container{
  width: auto;
   height: auto;
    margin: 10px;
}
}
body {
  background-image: url(/images/background.jpg);
  
  background-size: cover;
 
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  /* width: 100vw; */
  /* height: 100vh; */
  
}
.li-container {
  text-align: right;
  gap: 10px;
  margin-left: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: hidden;
}
h3 {
  padding: 10px;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgb(6, 250, 42);
  cursor: pointer;
  background-color: rgb(45, 21, 231);
  font-size: 2rem;

  &:hover {
    transition: all 0.3s ease-in-out;
    text-shadow: 5px 5px 10px rgb(10, 10, 10);
    color: rgb(38, 213, 106);
    border: none;
    background-color: black;
    border-radius: 30px;
  }
}
/* .nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  background-color: rgb(45, 21, 231);
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px 4px rgb(11, 237, 237);
  max-height: 110px;
  margin-top: 5px;
  overflow: hidden;
}
nav li {
  list-style: none;
  display: inline;
  margin: 0 15px;
  font-size: 20px;
  cursor: pointer;
}
nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: rgb(231, 11, 11);
    font-family: "Times New Roman", Times, serif;
    transition: all 0.3s ease-in-out;
    font-weight: 900;
  }
} */

h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;

  margin-top: 50px;
}
.hero {
  width: 30vw;
  height: 220px;
  border-radius: 10px;
  box-shadow: -3px 1px 18px rgba(31, 220, 91, 0.937);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: black;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
  align-items: center;

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: -3px 1px 18px rgba(31, 220, 91, 0.937),
      0 0 20px rgba(31, 220, 91, 0.937);
    scroll-behavior: smooth;
  }
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  /* border: 2px solid; */
  padding: 50px;
  /* width: 700px; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /* box-shadow: 0 0 13px 7px rgba(244, 248, 244, 0.5);
  height: 80vh; */
  
}
.heading {
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  font-size: 2.4rem;
}
.about {
  width: 50%;
  height: 50%;
  text-align: left;
  line-height: 1.6;
  box-shadow: 0 0 13px 7px rgba(0, 255, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: aqua;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 10vw;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 13px 7px rgba(96, 9, 225, 0.5);
    transition: all 0.3s ease-in-out;
    transform: scale(1.04);
  }
}
.about-container {
  /* box-shadow: 0 0 13px 7px rgba(236, 239, 236, 0.5); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 70px; */
  padding: 50px;
  overflow: hidden;
}
.project {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: left;
  overflow: hidden;
}

.footer {
  padding: 10px;
  background-color: rgb(44, 175, 236);
  color: white;
  box-shadow: 0 0 8px rgb(38, 213, 106);
  font-weight: bold;
  /* position: relative; */
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.section {
  height: 100vh;
  /* border: 2px solid rgb(248, 245, 245); */
  width: 100vw;
}
section {
  margin-top: 20px;
}
span {
  cursor: pointer;
}
.img{
  object-fit: cover;
  width: 100%;
  height: 60vh;
  border-radius: 50px;
  box-shadow: 0 0 13px 7px rgba(99, 228, 99, 0.968);
  /* margin-left: 40vw; */
  opacity: 80%;

  &:hover {
    box-shadow: 0 0 13px 7px rgba(96, 9, 225, 0.5);
    transition: all 0.3s ease-in-out;
    transform: scale(1.04);
  }
}
.img-container{
 display: flex;
 flex-wrap: wrap;
 justify-content: right;
 flex-direction: row;
 align-items: center;
 margin-left: 45vw;
}
.khan {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  padding: 20px;
}
.pq {
  font-size: 1.7rem;
  color: rgb(175, 173, 186);
  text-align: center;
  line-height: 1.6;
  text-transform: capitalize;
  font-weight: 500;
  font-style: italic;

}
.aboutMe {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.top {
  margin-top: 90px;
}
.p1 {
  margin-top: 0;
}
.photo {
  width: 50%;
  height: 50%;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid white;
  cursor: pointer;
  opacity: 50%;
}
.skills {
  font-size: 2.5rem;
  text-align: left;
  font-weight: bold;
}
#name{

&:focus{
  border: 3px solid rgb(229, 23, 109);
}
}
#subject{ 
  width:100%;

&:focus{
  border: 3px solid rgb(229, 23, 109);
}
}
#email{


&:focus{
  border: 3px solid rgb(229, 23, 109);
}
}
#message{


&:focus{
  border: 3px solid rgb(229, 23, 109);
}
}
.line{
  padding: 10px;
}
.project-container{
  padding: 40px;
  height: auto;
  /* border: 2px solid white; */
}
.content{
  color: white;

}
.content-container{
  width: 100%;
  height: auto;
}
.ed{
  font-size: 2rem;
  color: rgb(220, 215, 215);
}
.h2{
  font-size: 2rem;
  color: white;
}
.h1{
  font-size: 3rem;
  
}
.main-container{
  width: 100%;
  height: auto;
}
.image{
  width: 50%;
  height: 50%;
  border-radius: 40%;
  opacity: 90%;
  border: 2px solid white;
  padding: 7px;
   box-shadow:  0px 0px 60px rgb(1, 85, 242), inset -2px -2px 36px rgb(4, 13, 248);
   
}
.bg {
  background-color: rgba(12, 12, 12, 0.779);
  padding: 5px;
  margin-top: 2px;
  cursor: pointer;
  box-shadow:  0px 0px 60px rgb(1, 85, 242), inset -2px -2px 36px rgb(4, 13, 248);
  border-radius: 30px;
  background-color: transparent;
 

 
}
.bg a:active{
   color: red;
   font-size: 1.1em;
  }
<<<<<<< HEAD
  button{

  cursor: pointer;
  box-shadow:  0px 0px 60px rgb(3, 84, 234), inset -2px -2px 36px rgb(5, 13, 235);
  border-radius: 50px;
  }
 

.hero{
  animation: move 2s ease-in-out 1s infinite  ;
  perspective: 200px;
}
@keyframes move {
  from{
  
  }
  to{

    box-shadow: 0px 0 16px  rgb(255, 47, 175);

  }
  
}
.skills::before{
  content:'My ';
  color: red;
}
=======
>>>>>>> d7ac823a81f46ccc28ea98625a9aa8c7decac3e8
